@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Allura&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.gradient {
  --size: 70%;
  --speed: 30s;
  --easing: cubic-bezier(0.8, 0.2, 0.2, 0.8);

  position: absolute;
  width: var(--size);
  height: var(--size);
  filter: blur(calc(var(--size) / 5));
  background-image: linear-gradient(hsl(300, 5%, 92%), #2F4F4F, #2F4F4F,#3A3A3A);
  animation: rotate var(--speed) var(--easing) alternate infinite;
  border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
  z-index: -0.5; /* Lower z-index */
  pointer-events: none; /* Disable pointer events */
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background: 
    linear-gradient(135deg, #2F4F4F, #3A3A3A),
    linear-gradient(10deg, #2F4F4F, #3A3A3A);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --DarkSlateGrey: #2F4F4F;
  --lightPink: #fbcfe8;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  color: rgba(255, 255, 255, 0.87);
  background: 
    linear-gradient(135deg, #2F4F4F, #3A3A3A),
    linear-gradient(10deg, #2F4F4F, #3A3A3A);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  color: rgba(255, 255, 255, 0.87);
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #fbcfe8;
  cursor: pointer;
  transition: border-color 0.25s;
  color: rgba(255, 255, 255, 0.87);
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ede7e7;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

@media (min-width: 720px) {
  .gradient {
    --size: 500px;
  }
}

